.error p {
  margin-bottom: 0px;
  color: red;
}

.col-sm-12 {
  margin-top: 10px;
}

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
  vertical-align: middle;
  text-align: center;
}

.table-content{
  margin: 0px 30px 30px 30px;
}

td form{
  margin: 0px;
}

form button {
  margin: 0px;
}
